<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1 class="ion-text-center ion-padding">CNX!!</h1>

<div style="display: inline-flex;">
  <h4 class="ion-padding">Conexion: </h4> <h1 [style.color]="cnx ? 'green': 'red'">{{cnx}}</h1>
</div>

<ion-item>
  <ion-input label="Http Request: "[(ngModel)]="youIp" type="string" labelPlacement="stacked"></ion-input>
</ion-item>
<ion-button (click)="getTest()" color="warning" size="small">Test</ion-button>

<div *ngIf="!error" class="ion-padding">
</div>
<p>{{msj | json}}</p>

<div *ngIf="error" class="ion-padding">
  <h3>Error:</h3>
  <p>{{error | json}}</p>
</div>

<br/>




</ion-content>
